.ipynb_checkpoints
analysing-customer-sales-and-product-data/stores.db
analysing-mobile-app-data/AppleStore.csv
analysing-mobile-app-data/googleplaystore.csv
analysing-mobile-app-data/helper.py
exploring-ebay-car-sales-data/autos.csv
exploring-hacker-news-posts/hacker_news.csv
exploring-hacker-news-posts/HN_posts_year_to_Sep_26_2016.csv
google-data-analytics-bellabeat-case-study/bellabeat_data/
google-data-analytics-bellabeat-case-study/.RData
google-data-analytics-bellabeat-case-study/.Rhistory
identifying-customers-likely-to-churn-for-a-telecommunications-provider/train.xlsx
visualisation-of-life-expectancy-and-gdp-variation-over-time/stats.pbix